@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --banner-height: 50px;
  --nav-height-normal: 130px;
  --nav-height-condensed: 60px;
  --header-height-normal: calc(var(--banner-height) + var(--nav-height-normal));
  --header-height-condensed: calc(var(--banner-height) + var(--nav-height-condensed));
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}
