@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --top-banner-height: 40px;
  --nav-height: 130px;
  --header-height-normal: calc(var(--top-banner-height) + var(--nav-height));
  --header-height-condensed: 80px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: var(--header-height-normal);
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background-color: white;
  transition: transform 0.3s ease-in-out;
}

.header--hidden {
  transform: translateY(-100%);
}

.header--condensed {
  height: var(--header-height-condensed);
}

.main-content {
  margin-top: calc(-1 * var(--header-height-normal));
  padding-top: var(--header-height-normal);
}
